html, body{
    margin: 0;
    padding: auto;
}

body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: whitesmoke;
}
h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: Helvetica;
    color: whitesmoke;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    font-family: Helvetica;
}

.subtitle {
    font-size: 22px;
    top: 0px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1px 5px 10px 10px;
}

.portrait {
    height: 350px;
    margin-right: 50px;
}


.row-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: auto;
}

.me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: auto;
    text-align: center;
    margin-left: 25px;
}

h2.about-me{
    font-size: 35px;
    font-weight: 700;
    font-family: Helvetica;
}

p {
    font-size: 16px;
    font-family: Helvetica;
    margin: 15px;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrubber-img {
    width: 30%;
    height: auto;
}

.scrubber{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    background-color: gray;
    height: auto;

}

.scrubberCol{
    width: 50%;
    margin: 15px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 5px;
}

.mirror{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 20px;
    background-color: gray;
    height: auto;
}

.mirrorCol{
    width: 50%;
    margin: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: whitesmoke;
    border-radius: 5px;
}

.skills{
    margin: 50px;
}
ul {
   display: flex; 
   flex-direction: row;
   flex-wrap: wrap;
   margin: 50px;
}

li {
    margin: 25px;
    font-size: 20px;
    font-family: Helvetica;
}

